<?xml version="1.0" encoding="UTF-8" standalone="no"?><!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
--><plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:amazon="http://schemas.android.com/apk/lib/com.amazon.device.ads" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:rim="http://www.blackberry.com/ns/widgets" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" id="cordova-plugin-file" version="6.0.2">
    <name>File</name>
    <description>Cordova File Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,file</keywords>
    <repo>https://github.com/apache/cordova-plugin-file</repo>
    <issue>https://github.com/apache/cordova-plugin-file/issues</issue>

    <engines>
        <engine name="cordova-android" version="&gt;=6.3.0"/>
    </engines>

    <js-module name="DirectoryEntry" src="www/DirectoryEntry.js">
        <clobbers target="window.DirectoryEntry"/>
    </js-module>

    <js-module name="DirectoryReader" src="www/DirectoryReader.js">
        <clobbers target="window.DirectoryReader"/>
    </js-module>

    <js-module name="Entry" src="www/Entry.js">
        <clobbers target="window.Entry"/>
    </js-module>

    <js-module name="File" src="www/File.js">
        <clobbers target="window.File"/>
    </js-module>

    <js-module name="FileEntry" src="www/FileEntry.js">
        <clobbers target="window.FileEntry"/>
    </js-module>

    <js-module name="FileError" src="www/FileError.js">
        <clobbers target="window.FileError"/>
    </js-module>

    <js-module name="FileReader" src="www/FileReader.js">
        <clobbers target="window.FileReader"/>
    </js-module>

    <js-module name="FileSystem" src="www/FileSystem.js">
        <clobbers target="window.FileSystem"/>
    </js-module>

    <js-module name="FileUploadOptions" src="www/FileUploadOptions.js">
        <clobbers target="window.FileUploadOptions"/>
    </js-module>

    <js-module name="FileUploadResult" src="www/FileUploadResult.js">
        <clobbers target="window.FileUploadResult"/>
    </js-module>

    <js-module name="FileWriter" src="www/FileWriter.js">
        <clobbers target="window.FileWriter"/>
    </js-module>

    <js-module name="Flags" src="www/Flags.js">
        <clobbers target="window.Flags"/>
    </js-module>

    <js-module name="LocalFileSystem" src="www/LocalFileSystem.js">
        <!-- Non-standards way -->
        <clobbers target="window.LocalFileSystem"/>
        <!-- Standards-compliant way -->
        <merges target="window"/>
    </js-module>

    <js-module name="Metadata" src="www/Metadata.js">
        <clobbers target="window.Metadata"/>
    </js-module>

    <js-module name="ProgressEvent" src="www/ProgressEvent.js">
        <clobbers target="window.ProgressEvent"/>
    </js-module>

    <js-module name="fileSystems" src="www/fileSystems.js"/>

    <js-module name="requestFileSystem" src="www/requestFileSystem.js">
        <clobbers target="window.requestFileSystem"/>
    </js-module>

    <js-module name="resolveLocalFileSystemURI" src="www/resolveLocalFileSystemURI.js">
        <merges target="window"/>
    </js-module>

    <!-- Required for browserify: we always link module below as there is conditional reference
    to this module from requestFileSystem and resolveLocalFileSystemURI modules. -->
    <js-module name="isChrome" src="www/browser/isChrome.js">
        <runs/>
    </js-module>

    <!-- android -->
    <platform name="android">
        <info>
The Android Persistent storage location now defaults to "Internal". Please check this plugin's README to see if your application needs any changes in its config.xml.

If this is a new application no changes are required.

If this is an update to an existing application that did not specify an "AndroidPersistentFileLocation" you may need to add:

      "&lt;preference name="AndroidPersistentFileLocation" value="Compatibility" /&gt;"

to config.xml in order for the application to find previously stored files.
        </info>
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="File">
                <param name="android-package" value="org.apache.cordova.file.FileUtils"/>
                <param name="onload" value="true"/>
            </feature>
            <allow-navigation href="cdvfile:*"/>
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
        </config-file>

        <source-file src="src/android/EncodingException.java" target-dir="src/org/apache/cordova/file"/>
        <source-file src="src/android/FileExistsException.java" target-dir="src/org/apache/cordova/file"/>
        <source-file src="src/android/InvalidModificationException.java" target-dir="src/org/apache/cordova/file"/>
        <source-file src="src/android/NoModificationAllowedException.java" target-dir="src/org/apache/cordova/file"/>
        <source-file src="src/android/TypeMismatchException.java" target-dir="src/org/apache/cordova/file"/>
        <source-file src="src/android/FileUtils.java" target-dir="src/org/apache/cordova/file"/>
        <source-file src="src/android/DirectoryManager.java" target-dir="src/org/apache/cordova/file"/>
        <source-file src="src/android/LocalFilesystemURL.java" target-dir="src/org/apache/cordova/file"/>
        <source-file src="src/android/Filesystem.java" target-dir="src/org/apache/cordova/file"/>
        <source-file src="src/android/LocalFilesystem.java" target-dir="src/org/apache/cordova/file"/>
        <source-file src="src/android/ContentFilesystem.java" target-dir="src/org/apache/cordova/file"/>
        <source-file src="src/android/AssetFilesystem.java" target-dir="src/org/apache/cordova/file"/>
        <source-file src="src/android/PendingRequests.java" target-dir="src/org/apache/cordova/file"/>

        <!-- android specific file apis -->
        <js-module name="androidFileSystem" src="www/android/FileSystem.js">
            <merges target="FileSystem"/>
        </js-module>
        <js-module name="fileSystems-roots" src="www/fileSystems-roots.js">
            <runs/>
        </js-module>
        <js-module name="fileSystemPaths" src="www/fileSystemPaths.js">
            <merges target="cordova"/>
            <runs/>
        </js-module>
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="File">
                <param name="ios-package" value="CDVFile"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>
        <header-file src="src/ios/CDVFile.h"/>
        <source-file src="src/ios/CDVFile.m"/>
        <header-file src="src/ios/CDVLocalFilesystem.h"/>
        <source-file src="src/ios/CDVLocalFilesystem.m"/>
        <header-file src="src/ios/CDVAssetLibraryFilesystem.h"/>
        <source-file src="src/ios/CDVAssetLibraryFilesystem.m"/>

        <!-- ios specific file apis -->
        <js-module name="iosFileSystem" src="www/ios/FileSystem.js">
            <merges target="FileSystem"/>
        </js-module>

        <js-module name="fileSystems-roots" src="www/fileSystems-roots.js">
            <runs/>
        </js-module>

        <js-module name="fileSystemPaths" src="www/fileSystemPaths.js">
            <merges target="cordova"/>
            <runs/>
        </js-module>

        <framework src="AssetsLibrary.framework"/>
        <framework src="MobileCoreServices.framework"/>
    </platform>

    <!-- osx -->
    <platform name="osx">
        <config-file parent="/*" target="config.xml">
            <feature name="File">
                <param name="ios-package" value="CDVFile"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>
        <header-file src="src/osx/CDVFile.h"/>
        <source-file src="src/osx/CDVFile.m"/>
        <header-file src="src/osx/CDVLocalFilesystem.h"/>
        <source-file src="src/osx/CDVLocalFilesystem.m"/>

        <!-- osx specific file apis -->
        <js-module name="osxFileSystem" src="www/osx/FileSystem.js">
            <merges target="FileSystem"/>
        </js-module>

        <js-module name="fileSystems-roots" src="www/fileSystems-roots.js">
            <runs/>
        </js-module>

        <js-module name="fileSystemPaths" src="www/fileSystemPaths.js">
            <merges target="cordova"/>
            <runs/>
        </js-module>
    </platform>

    <!-- windows -->
    <platform name="windows">
        <js-module name="FileProxy" src="src/windows/FileProxy.js">
            <runs/>
        </js-module>

        <js-module name="fileSystemPaths" src="www/fileSystemPaths.js">
            <merges target="cordova"/>
            <runs/>
        </js-module>
    </platform>

    <platform name="browser">
        <!-- File for Chrome -->
        <js-module name="Preparing" src="www/browser/Preparing.js">
            <runs/>
        </js-module>

        <js-module name="browserFileProxy" src="src/browser/FileProxy.js">
            <runs/>
        </js-module>

        <js-module name="fileSystemPaths" src="www/fileSystemPaths.js">
            <merges target="cordova"/>
            <runs/>
        </js-module>

        <js-module name="firefoxFileSystem" src="www/browser/FileSystem.js">
            <merges target="window.FileSystem"/>
        </js-module>
    </platform>

</plugin>