


/* Styles properties */
div[_aio-38EE212F] {
width: 335px;
background-color: #ffffff;
padding-top: 30px;
padding-right: 30px;
padding-bottom: 30px;
padding-left: 30px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
}
ion-text[_aio-5003B0FB] {
display: block;
font-size: 18px;
font-weight: 500;
}
ion-text[_aio-69E68F45] {
display: block;
font-size: 14px;
line-height: 26px;
margin-top: 20px;
}
ion-button[_aio-37D077DF] {
margin-top: 20px;
}
/* Custom SCSS */
/*.policy-wrapper {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    
    .policy-panel {
        /*background-color: #ffffff;
        border-radius: 8px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        width: 335px;*/
        
        /*.title {
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
        }*/
        
        /*.description {
            font-size: 14px;
            line-height: 26px;
            margin-top: 20px;
            max-height: 60vh;
            overflow-y: auto;
        }*/
        
        /*ion-button {
            margin-top: 25px;
        }
    }
}*/
