


/* Styles properties */
div[_aio-22EA3DBE] {
width: 335px;
background-color: #ffffff;
padding-top: 5px;
padding-right: 5px;
padding-bottom: 5px;
padding-left: 5px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
}
div[_aio-859927DE] {
border-style: solid;
border-color: #f4f4f4;
padding-top: 30px;
padding-right: 30px;
padding-bottom: 30px;
padding-left: 30px;
border-bottom-width: 2px;
}
ion-text[_aio-F9E2D4A1] {
display: block;
font-size: 30px;
}
ion-text[_aio-D58A8D89] {
display: block;
font-size: 18px;
margin-top: 5px;
}
div[_aio-B7AFDD2A] {
padding-top: 0px;
padding-right: 30px;
padding-bottom: 30px;
padding-left: 30px;
}
ion-text[_aio-B818C10A] {
display: inline-block;
margin-top: 5px;
}
ion-row[_aio-DDD52F4B] {
margin-top: 20px;
}
ion-label[_aio-2CD11264] {
margin-left: 10px;
}
ion-button[_aio-EC4949C2] {
margin-top: 20px;
}
div[_aio-7E8AFA4B] {
text-align: right;
margin-top: 20px;
}
/* Custom SCSS */
