


/* Styles properties */
ion-grid[_aio-5962610A] {
height: 100%;
}
ion-row[_aio-9B8C13F7] {
height: 90%;
}
div[_aio-38AFCABC] {
width: 335px;
background-color: #ffffff;
text-align: left;
padding-top: 5px;
padding-right: 5px;
padding-bottom: 5px;
padding-left: 5px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
}
div[_aio-7664DDF9] {
border-style: solid;
border-color: #f4f4f4;
padding-top: 30px;
padding-right: 30px;
padding-bottom: 30px;
padding-left: 30px;
border-bottom-width: 2px;
}
ion-text[_aio-9A5B7FE3] {
font-size: 30px;
line-height: 38px;
}
form[_aio-BAAC2543] {
padding-top: 0px;
padding-right: 30px;
padding-bottom: 30px;
padding-left: 30px;
}
ion-button[_aio-7D8E3A7D] {
margin-top: 20px;
}
ion-row[_aio-73B422EA] {
height: 10%;
}
/* Custom SCSS */
