


/* Styles properties */
ion-content[_aio-92A86E20] {
--padding-top: 10px;
--padding-end: 10px;
--padding-bottom: 10px;
--padding-start: 10px;
}
ion-button[_aio-34D5D18A] {
margin-bottom: 20px;
}
/* Custom SCSS */
